body {
  font-size: 18px;
  background-color: #000000;
  font-family: georgia, palatino, "times new roman", times, serif;
  margin: 0;
}
a:link, a:visited { color: #dc000b; text-decoration:none; }
a:hover, a:focus { text-decoration: underline; }
p { margin: 10px 0 0 0; }
div#container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 960px;
  padding: 16px;
  overflow: hidden;
  position: relative;
}
div#head { width: 960px; }
h1, h2 { font-family: helvetica, arial, sans-serif; }
h1 {
  font-size: 80px;
  letter-spacing: -5px;
  line-height: 90%;
  margin: 0;
  text-align: left;
  padding: 0 0 14px 0;
}
h2 {
  font-size: 28px;
  color: #dc000b;
  margin: 8px 0;
}
h2 a:hover, a:focus { text-decoration: none; }
img#profile {
  float: right;
  border: 1px solid #000000;
  margin: 0;
  width: 60px;
  height: 60px;
}
div#about {
  float: left;
  width: 470px;
}
span#age { 
  font-family: monospace;
  font-size: 80%;
}
div.refresh {
  float: right;
  text-align: right;
  font-size: 12px;
  padding: 16px 6px 0 0;
}
div.refresh a { height: 16px; } /* Match the height of the adjacent image */
div#listening {
  float: left;
  width: 225px;
  margin: 0 0 0 20px;
  font-size: 14px;
}
div#tweeting {
  float: left;
  width: 225px;
  margin: 0 0 0 20px;
  font-size: 14px;
}
div#tweets ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  font-family: georgia, palatino, "times new roman", times, serif;
  font-style: italic;
}
div#tweets li { padding: 0 0 8px 0; }
div#tweets a.when {
  font-size: 12px;
  font-style: normal;
}
#lastfm dl {
  position: relative;
  float: left;
  padding: 1px;
  margin:0 0 10px 0;
  width: 227px;
}
#lastfm dl dt {
  position: absolute;
  width: 34px;
  height: 34px;
}
#lastfm dl dt a {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
}
#lastfm .lfm_art img {
  width: 34px;
  height: 34px;
}
#lastfm dl dd.lfm_song {
  font-weight: bold;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 0 42px;
}
#lastfm dl dd.lfm_artist {
  color: #666666;
  margin: 0 0 0 42px;
}
#lastfm dl dd.lfm_time {
  font-size: 12px;
}
div#foot {
  margin: 10px 0 0 0;
  float: left;
  width: 960px; 
  font-size: 12px;
  text-align: center;
}
