body {
  font-size: 15px;
  color: #888;
  background-color: #ccc;
  font-family: georgia, palatino, "times new roman", times, serif;
  margin: 0;
}
a:link, a:visited { color: #ccc  ; text-decoration: underline; }
a:hover, a:focus { text-decoration: none; background-color: #12b7ea; color: #000; }
p { margin: 6px 0 0 0; }
div#container {
  background-color: #1a1717;
  margin: 0 auto;
  width: 960px;
  padding: 16px;
  overflow: hidden;
  position: relative;
}
div#head { width: 960px; }
/*h1, h2 { font-family: helvetica, arial, sans-serif; }*/
h1 {
  color: #000;
  font-size: 52px;
  font-weight: normal;
  margin: 0;
  text-align: left;
  padding: 0 0 6px 0;
  text-shadow: 1px 1px 0 #6e6e6e;
}
h2 {
  font-size: 24px;
  font-weight: normal;
  color: #12b7ea; 
  margin: 8px 0;
  text-shadow: 1px 1px 0 #6e6e6e;
}
h1 a:hover, h1 a:focus { text-decoration: none; }
h1 a:link, h1 a:hover, h1 a:focus, h1 a:visited { color: #000; background-color: #12b7ea; text-decoration: none; padding: 2px; }
h2 a:hover, h2 a:focus { text-decoration: none; }
h2 a:link, h2 a:hover, h2 a:focus, h2 a:visited { color: #000; background-color: #12b7ea; text-decoration: none; padding: 2px; }
img#profile {
  float: right;
  margin: 0;
  width: 60px;
  height: 60px;
}
div#about { margin-top: 12px; }
div#main-left {
  float: left;
  width: 470px;
}
span#age { 
  font-family: monospace;
  font-size: 80%;
}
div#snapping img {
  width: 50px;
  height: 50px;
  border: none;
}
div#snapping a {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0 8px 0 0;
  text-decoration: none;
  font-size: 0;
}
div#reading ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#reading li {
  padding: 0 0 6px 0;
}
div#reading span.item-details {
  font-size: 14px;
  font-style: italic;
}
div#coding ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#coding li {
  padding: 0 0 6px 0;
}
div#coding div.item-details {
  padding-top: 3px;
  font-size: 14px;
  font-style: italic;
}
div#coding blockquote { margin: 0; }
div.refresh {
  float: right;
  text-align: right;
  font-size: 12px;
  padding: 16px 6px 0 0;
}
div.refresh a { height: 16px; } /* Match the height of the adjacent image */
div#listening {
  float: left;
  width: 225px;
  margin: 0 0 0 20px;
  font-size: 14px;
}
div#tweeting {
  float: left;
  width: 225px;
  margin: 0 0 0 20px;
  font-size: 14px;
}
div#tweets ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: georgia, palatino, "times new roman", times, serif;
  font-style: italic;
}
div#tweets li { padding: 0 0 8px 0; }
div#tweets a.when {
  font-size: 12px;
  font-style: normal;
}
#lastfm dl {
  position: relative;
  float: left;
  padding: 0;
  margin: 0 0 10px 0;
  width: 227px;
}
#lastfm dl dt {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  top: 0;
}
#lastfm dl dt a {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  top: 0;
  background: none;
}
#lastfm .lfm_art img {
  width: 34px;
  height: 34px;
}
#lastfm dl dd.lfm_song {
  font-weight: bold;
  padding-bottom: 4px;
  margin: 0 0 0 42px;
}
#lastfm dl dd.lfm_artist {
  color: #666666;
  margin: 0 0 0 42px;
}
#lastfm dl dd.lfm_time {
  font-size: 12px;
}
div#foot {
  margin: 10px 0 0 0;
  float: left;
  width: 960px; 
  font-size: 11px;
  text-align: center;
}
