@font-face {
  font-family: 'jdennes';
  src: url("/assets/jdennes.eot");
  src: url("/assets/jdennes.eot?#iefix") format("embedded-opentype"), url("/assets/jdennes.woff") format("woff"), url("/assets/jdennes.ttf") format("truetype"), url("/assets/jdennes.svg#jdennes") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: "Merriweather", serif;
  font-size: 20px;
  background: white;
  color: #333333;
  text-align: center;
}

a, a:link, a:visited, a:active {
  color: #777777;
  text-decoration: none;
  border-bottom: 1px solid #999999;
}
a:hover {
  color: #999999;
  text-decoration: none;
}

.container {
  max-width: 768px; padding-top: 40px;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 72px;
  margin-bottom: 35px;
}

h2 {
  font-size: 44px;
}
h2 a, h2 a:link, h2 a:active, h2 a:visited, h2 a:hover {
  border-bottom: none;
}

div#summary {
  font-size: 20px;
  line-height: 28px;
}

div#links {
  font-family: "jdennes";
  font-size: 35px;
  margin-top: 40px;
}
div#links a {
  color: #333333;
  margin: 0 6px;
  border-bottom: none;
}
div#links a:hover {
  color: #777777;
  border-bottom: none;
}
