html, body {
  font-family: "Consolas", "Courier", "fixed-width";
  font-size: 20px;
  color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: fixed;
}

a, a:link, a:visited, a:active {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #999999;
  text-decoration: none;
}

.container {
  max-width: 768px; padding-top: 30px;
}

h1 {
  font-size: 72px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}

h2 {
  font-size: 44px;
}
h2 a, h2 a:link, h2 a:active, h2 a:visited, h2 a:hover {
  border-bottom: none;
}

div#links {
  font-size: 20px;
}
div#links a {
  color: #ffffff;
  border-bottom: none;
}
div#links a:hover {
  color: #999999;
  border-bottom: none;
}
