html, body {
  font-family: "Consolas", "Courier", "fixed-width";
  font-size: 20px;
  color: #000000;
}

a, a:link, a:visited, a:active {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #999999;
  text-decoration: none;
}

.container {
  max-width: 768px; padding-top: 30px;
}

h1 {
  font-size: 72px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
}

h2 {
  font-size: 44px;
}
h2 a, h2 a:link, h2 a:active, h2 a:visited, h2 a:hover {
  border-bottom: none;
}

div#links {
  font-size: 20px;
}
div#links a {
  color: #000000;
  border-bottom: none;
}
div#links a:hover {
  color: #888888;
  border-bottom: none;
}
